
en-US/plugcfg/
en-US/QtWebEngine/
Network/

plugcfg_ln/

*.tmp

*.log

Plugin.UserSettings.ini

*.recent

*.dsk

en-US/UI/MaxManaged.ribbon

en-US/UI/MaxManaged.xaml

en-US/UI/Workspaces/Workspace1.ribbonconfig.ribbon

en-US/UI/Workspaces/Workspace1.ribbonconfig.xaml

en-US/UI/Workspaces/Workspace1.vpp

en-US/UI/MaxBackupUI.cuix
